@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --main-color: #040714;
    --site-color: #fff;
    --active-color: #0063e5;
    --first-color: #08132f;
    --second-color: #090b13;
    --third-color: #1b202a;
    --success-color: #006400;
    --warning-color: #FF8C00;
    --danger-color: #8B0000;
}

body{
    background-color: var(--main-color);
    color: var(--site-color);
}

h1{
    color: #0063e5;
}

.row>* {
    background-color: white;
}

.max-width{
    max-width: 1300px;
    padding: 0 10px;
    margin: auto;
}

.nav{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--main-color);
    border-bottom: solid var(--third-color) 1px;
}

.nav .logo img {
    width: 120px;    
    object-fit: cover;
    margin-right: 10px;
}

.nav .logo a{
    color: var(--active-color);
    font-size: 35px;
    font-weight: 500;
}

.nav .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .menu li{
    list-style: none;
    display: inline-block;
}

.nav .menu li a{
    display: block;
    color: var(--site-color);
    font-size: 18px;
    font-weight: 400;
    margin-left: 25px;
}

.menu-btn{
    color: var(--site-color);
    font-size: 23px;
    cursor: pointer;
    display: none;
}

@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    #menu-icon.active::before{
        content: "\f00d";
    }
    .nav .menu{
        background-color: var(--main-color);
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    #menu-site.active{
        left: 0;
    }
    .nav .menu li{
        display: block;

    }

    .nav .menu li a{
        display: inline-block;
        margin: 13px 0;
        font-size: 25px;
    }
}

section{
    padding: 50px 0;

}

@media (max-width: 690px){
    section {
        padding: 20px 0;

    }
}

.top{
    color: var(--site-color);
    display: flex;
    /*background: url("../image/estacionamento.jpg") no-repeat center;*/
    background: linear-gradient(to right, var(--main-color) 25%, rgba(255, 255, 255, 0)), url("../image/estacionamento2.jpg") no-repeat center;
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubunto', sans-serif;
}

.top .max-width{
    width: 100%;
    display: flex;
}

.top .top-content .text-1{
    font-size: 25px;
}

.top .top-content .text-2{
    font-size: 55px;
    font-weight: 400;
    margin-left: -3px;
}

.top .top-content .text-3{
    font-size: 32px;
    margin: 5px 0;
}

.top .top-content a {
    display: inline-block;
    background: var(--active-color);
    color: var(--site-color);
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 300;
    border-radius: 6px;
    border: 2px solid var(--active-color);
    transition: all 0.6s ease;
}

.top .top-content a:hover {
    color: var(--active-color);
    background: none;
}
/* Fim servico */

/* Inicio servico premium */
.premium {
    color: var(--site-color);
    background: var(--first-color);
    font-family: 'Poppins', sans-serif;
}

.premium .title {
    text-align: center;
    margin: 50px 0;
    font-weight: 400;
    font-size: 35px;
}

.premium .premium-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.premium .premium-content .left {
    width: 45%;
}

.premium .premium-content .left iframe {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.premium .premium-content .right {
    width: 55%;
}

.premium .premium-content .right .text {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
}

.premium .premium-content .right .p{
    text-align: justify;
}

.premium .premium-content .right a {
    display: inline-block;
    background: var(--active-color);
    color: var(--site-color);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--active-color);
    transition: all 0.5s ease;
}

.premium .premium-content .right a:hover {
    color: var(--active-color);
    background: none;
}

@media (max-width: 1104px) {
    .premium .premium-content .left img {
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 947px) {
    .premium .premium-content .column{
        width: 100%;
    }
    .premium .premium-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .premium .premium-content .right {
        flex: 100%;
    }
}

/* Inicío rodapé */
footer {
    background: var(--second-color);
    padding: 25px 23px;
    color: var(--site-color);
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

footer span a {
    color: var(--active-color);    
}

footer span a:hover {
    color: var(--site-color);
}
/* Fim do rodapé */

/* Inicio da página sobre empresa */
.about {
    color: var(--site-color);
    background: var(--main-color);
    font-family: 'Poppins', sans-serif;
}

.about .title {
    margin-top: 8vh;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 35px;
    padding-top: 50px;
}

.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    background: var(--first-color);
    border-radius: 6px;
    padding: 30px;
}

.about .about-content .left {
    width: 40%;
}

.about .about-content .left img {
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right {
    width: 60%;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
}

.about .about-content .right p {
    text-align: justify;
}

@media(max-width: 1104px) {
    .about .about-content .left img {
        width: 300px;
        height: 300px;
    }
    .about .about-content .right {
        padding-left: 10px;
    }
}

@media(max-width: 947px) {
    .about .about-content .column {
        width: 100%;
    }
    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right {
        flex: 100%;
        padding-left: 0;
    }
}

@media(max-width: 500px) {
    .about .title {
        margin-top: 50px;
    }
}
/* Fim da página sobre empresa */

/* Inicio da página contato */
.contact {
    color: var(--site-color);
    display: flex;
    /*background: url("../image/estacionamento.jpg") no-repeat center;*/
    background: linear-gradient(to right, var(--main-color) 25%, rgba(255, 255, 255, 0)), url("../image/contato.png") no-repeat center;
    height: 90vh;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubunto', sans-serif;
}

.contact .title {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 50px;
    font-weight: 400;
    font-size: 50px;
}

.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

/* .contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: var(--active-color);
} */

.contact .contact-content .info .head {
    font-weight: 500;
}

.contact .contact-content .info .sub-title {
    color: var(--site-color);
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 10px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}

.contact .right form .field input,
.contact .right form .field textarea {
    height: 100%;
    width: 100%;
    border-radius: 6px;
    outline: none;
    padding: 0 10px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.5s ease;
}

.contact .right form .field input:focus,
.contact .right form .field textarea:focus {
    border-color: var(--active-color);
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button-area {
    display: flex;
    align-items: center;
}

.right form .button-area button {
    background-color: var(--active-color);
    color: var(--site-color);
    display: block;
    width: 160px !important;
    height: 45px;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: wrap;
    border: 2px solid var(--active-color);
    transition: all 0.5s ease;
}

.right form .button-area button:hover {
    color: var(--active-color);
    background: none;
}

@media(max-width: 947px) {
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media(max-width: 500px) {
    .contact .title {
        margin-top: 50px;
    }
    .contact .right form .fields {
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email {
        margin: 0;
    }
}

/* Listar Vagar Conteudo da página */

.content { 
    display: flex;
    background-color: var(--site-color);
}

.container-fluid {
    background-color: var(--site-color);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

.title-modal-vg-livres {
    color: var(--first-color);
}

.top-list {
    width: 100%;
    overflow: hidden;
}

.top-list .title-content {
    float: left;
    color: var(--first-color);
    padding: 10px 16px;
    font-size: 17px;
}

.top-list .top-list-right {
    padding: 10px 5px 5px 0;
    /* posicionar a direta */
    float: right;
}


/* Fim Modal Add Vagas */

/* Sidebar */

.content .sidebar {
    color: var(--site-color);
    height: 100vh;
    width: 60px;
    position: sticky;
    margin-top: 0;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.12);
    background-color: var(--active-color);
    /* barra de rolagem */
    overflow: auto;
    overflow-x: hidden;
    /* encolhe tudo para ficar tudo num lugar só */
    flex-shrink: 0;
    transition: 0.3s width ease-in-out;
}

@media (max-width: 768px) {
    .content .sidebar {
        width: 60px;
        position: fixed;
        z-index: 1;
        width: 0;
        margin-bottom: 0;
    }
}

.content .sidebar:hover,
.content .sidebar.active {
    width: 300px;
}

.sidebar .sidebar-nav {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 15px 0;
    position: relative;
    cursor: pointer;
    transition: 0.3s background ease;
    font-size: 16px;
}

.sidebar a {
    color: var(--site-color);
}

.sidebar a:hover {
    background-color: var(--main-color);
    color: var(--active-color);
}

.sidebar .sidebar-nav.active {
    background-color: var(--second-color);
    color: var(--active-color);
}

.sidebar .sidebar-nav.active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background-color: var(--site-color);
}

.sidebar-nav .icon {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    flex-shrink: 0;
}

.sidebar-nav .btn-link {
    /* display: flex;
    align-items: initial;
    justify-content: left; */
    padding: 0;
    text-decoration: none;
    color: var(--site-color);
}

/* FIM SIDEBAR */

/* Rodapé */

.title .logo1 {
    width: 30px;    
    object-fit: cover;
    margin-right: 10px;
}

.title .logo1 span {
    background-color: var(--active-color);
    font-size: 35px;
    font-weight: 500;
}

span img {
    width: 35px;    
    object-fit: cover;
    margin-right: 10px;
}

span a{
    color: var(--active-color);
    font-size: 30px;
    font-weight: 500;
}

/* Rodapé */
.container1 {
    max-width: 1170px;
    margin: auto;
    margin-top: 2%;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;

}

.footer {
    background-color: var(--main-color);
    padding: 70px 0;
}

.footer-col {
    width: 25%;
}

.footer-col h4 {
    font-size: 18px;
    color: var(--site-color);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    text-align: justify;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--active-color);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: var(--site-color);
    text-decoration: none;
    font-weight: 300;
    color: var(--site-color);
    display: block;
    transition: all 0.3s ease;
    text-align: justify;
}

.footer-col ul li a:hover {
    columns: var(--site-color);
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #fff;
}

/* Responsivo */
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

/* Inicio Listar Adm */
.listar-adm{
    background-color: var(--site-color);
}

/* .row .top-list {
    width: 100%;
    overflow: hidden;
} */

.top-list .title-content{
    float: left;
    color: var(--third-color);
    padding: 10px 16px;
    font-size: 17px;
}

.top-list .top-list-right{
    padding: 10px 5px 5px 0;
    float: right;
}

.table-list{
    margin-top: 15px;
    width: 100%;
}

.table-list .list-head .list-head-content{
    background-color: var(--third-color);
    color: var(--active-color);
    padding: 10px;

}

.table-list .list-body .list-body-content{
    background-color: var(--main-color);
    color: var(--site-color);
    padding: 8px;
}

/* inicio paginação Adm */
.content-pagination {
    margin: 15px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination {
    /* display: inline-block; */
    font-size: 15px;
}

.pagination a {
    color: var(--active-color);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: var(--main-color);
    color: var(--site-color)
}

.pagination a:hover:not(.active) {
    background-color: var(--third-color);
}
/* Fim paginação Adm */

/* inicio pornalizar botao */
.btn-primary {
    background-color: var(--active-color);
    color: var(--site-color);
    padding: 5px 8px;
    border: 1px solid var(--active-color);
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.3s ease-out;
}

.btn-primary:hover {
    background-color: var(--site-color);
    color: var(--active-color);
}

.btn-success {
    background-color: var(--success-color);
    color: var(--site-color);
    padding: 5px 8px;
    border: 1px solid var(--success-color);
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.3s ease-out;
}

.btn-success:hover {
    background-color: var(--site-color);
    color: var(--success-color);
}

.btn-warning {
    background-color: var(--warning-color);
    color: var(--site-color);
    padding: 5px 8px;
    border: 1px solid var(--warning-color);
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.3s ease-out;
}

.btn-warning:hover {
    background-color: var(--site-color);
    color: var(--warning-color);
}

.btn-warning {
    background-color: var(--warning-color);
    color: var(--site-color);
    padding: 5px 8px;
    border: 1px solid var(--warning-color);
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.3s ease-out;
}

.btn-warning:hover {
    background-color: var(--site-color);
    color: var(--warning-color);
}

.btn-danger {
    background-color: var(--danger-color);
    color: var(--site-color);
    padding: 5px 8px;
    border: 1px solid var(--danger-color);
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.3s ease-out;
}

.btn-danger:hover {
    background-color: var(--site-color);
    color: var(--danger-color);
}
/* fim pornalizar botao */

@media (max-width: 640px){
    .table-sm-none{
        display: none;
    }
}

#embreve{
    width: 800px;
    height: 400px;

}
/* Fim Listar Adm */