@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --main-color: #040714;
    --site-color: #fff;
    --active-color: #0063e5;
    --first-color: #08132f;
    --second-color: #090b13;
    --third-color: #1b202a;
}

body{
    background-color: var(--main-color);
    color: var(--site-color);
}

.max-width{
    max-width: 1300px;
    padding: 0 9px;
    margin: auto;
   
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 10px 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--main-color);
    border-bottom: solid var(--third-color) 1px;
}

.navbar .logo img {
    width: 30px;    
    object-fit: cover;
    margin-right: 10px;
    margin-bottom: 20px;
}

.navbar .logo a{
    color: var(--active-color);
    font-size: 35px;
    font-weight: 500;
}

.navbar .max-width{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    color: var(--site-color);
    font-size: 18px;
    font-weight: 400;
    margin-left: 25px;
}

.menu-btn{
    color: var(--site-color);
    font-size: 23px;
    cursor: pointer;
    display: none;
}

@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    #menu-icon.active::before{
        content: "\f00d";
    }
    .navbar .menu{
        background-color: var(--main-color);
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    #menu-site.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;

    }

    .navbar .menu li a{
        display: inline-block;
        margin: 13px 0;
        font-size: 25px;
    }
}

section{
    padding: 50px 0;

}

@media (max-width: 690px){
    section {
        padding: 20px 0;

    }
}

.top{
    color: var(--site-color);
    display: flex;
    /*background: url("../image/estacionamento.jpg") no-repeat center;*/
    background: linear-gradient(to right, var(--main-color) 25%, rgba(255, 255, 255, 0)), url("../image/estacionamento.jpg") no-repeat center;
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubunto', sans-serif;
}

.top .max-width{
    width: 100%;
    display: flex;
}

.top .top-content .text-1{
    font-size: 25px;
}

.top .top-content .text-2{
    font-size: 55px;
    font-weight: 400;
    margin-left: -3px;
}

.top .top-content .text-3{
    font-size: 32px;
    margin: 5px 0;
}

.top .top-content a {
    display: inline-block;
    background: var(--active-color);
    color: var(--site-color);
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 300;
    border-radius: 6px;
    border: 2px solid var(--active-color);
    transition: all 0.6s ease;
}

.top .top-content a:hover {
    color: var(--active-color);
    background: none;
}
/* Fim servico */



/* Inicío rodapé */
footer {
    background: var(--second-color);
    padding: 25px 23px;
    color: var(--site-color);
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

footer span a {
    color: var(--active-color);    
}

footer span a:hover {
    color: var(--site-color);
}
/* Fim do rodapé */



/* Inicio da página contato */
.contact {
    color: var(--site-color);
    background-color: var(--main-color);
    font-family: 'Poppins', sans-serif;
}

.contact .title {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 50px;
    font-weight: 400;
    font-size: 50px;
}

.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: var(--active-color);
}

.contact .contact-content .info .head {
    font-weight: 500;
}

.contact .contact-content .info .sub-title {
    color: var(--site-color);
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 10px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}

.contact .right form .field input,
.contact .right form .field textarea {
    height: 100%;
    width: 100%;
    border-radius: 6px;
    outline: none;
    padding: 0 10px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.5s ease;
}

.contact .right form .field input:focus,
.contact .right form .field textarea:focus {
    border-color: var(--active-color);
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button-area {
    display: flex;
    align-items: center;
}

.right form .button-area button {
    background-color: var(--active-color);
    color: var(--site-color);
    display: block;
    width: 160px !important;
    height: 45px;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: wrap;
    border: 2px solid var(--active-color);
    transition: all 0.5s ease;
}

.right form .button-area button:hover {
    color: var(--active-color);
    background: none;
}

@media(max-width: 947px) {
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media(max-width: 500px) {
    .contact .title {
        margin-top: 50px;
    }
    .contact .right form .fields {
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email {
        margin: 0;
    }
}

#planos {
    font-size: 20px;
    border-radius: 3px;
}

option {
    font-size: 18px;
}